
.post-banner {
    margin-bottom: 30px;
    width: 100%;
    height: 370px;

    @media screen and (max-width: 768px) {
        height: 320px;
    }
    @media screen and (max-width: 540px) {
        height: 300px;
    }

    img {
        @include coverImage();

    }
}

.post-featured {
    margin-bottom: 30px;

    .featured-left {
        .box-img {
            width: 100%;
            height: 400px;
            margin-bottom: 1rem;
            overflow: hidden;
            border-radius: .375rem;
            @media screen and (max-width: 540px) {
                height: 220px;
            }

            img {
                @include coverImage();
                border-radius: .375rem;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }

            }
        }

        .content {
            .meta-description {
                @include textWidthEllipis(16, 1.5, 3);
            }
        }
    }

    .featured-right {
        padding: 1rem 1rem 0 1rem;
        @media screen and (max-width: 768px) {
            margin-top: 20px;
        }

        .box-img {
            width: 100%;
            height: 90px;
            overflow: hidden;
            border-radius: .375rem;

            @media screen and (max-width: 768px) {
                height: 120px;
            }
            @media screen and (max-width: 540px) {
                height: 90px;
            }

            img {
                @include coverImage();
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        @media screen and (max-width: 768px) {
            .featured-title {
                font-size: 20px;
            }
        }
        @media screen and (max-width: 540px) {
            .featured-title {
                font-size: 16px;
            }
        }
    }
}


.category-post {
    margin-bottom: 30px;

    .category-post-item {
        background-color: white;

        &:hover {
            background-color: #dee2e6;
        }
    }
}
